*{
	margin: 0;
	padding: 0;
	list-style: none;
	text-decoration: none;
	border: none;
	outline: none;
}

.line {
    margin-top: 1rem;
    width: 100%;
    height: 2px;
    background-color: black;
}

img {
   height: 90%;
   width: 100%;
}

.main-content {
    margin: 0 auto;
    max-width: 80%;
}

.title {
    margin: 0 auto;
    max-width: 80%;
    font-size: 2.5rem;
    font-weight: bold;
    margin-top: 2rem;
    margin-bottom: 2rem;
}

.text {
    margin: 0 auto;
    max-width: 80%;
} 

.inner-text {
    margin-bottom: 1.5rem;
}

.image-container {
    margin: 0 auto;
    max-width: 80%;
    margin-top: 2rem;
    margin-bottom: 2rem;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-column-gap: 1rem;
    height: 650px;

}

.image-container2 {
    margin: 0 auto;
    max-width: 80%;
    margin-top: 2rem;
    margin-bottom: 2rem;
}

