*{
	margin: 0;
	padding: 0;
	list-style: none;
	text-decoration: none;
	border: none;
	outline: none;
}

.main-content {
    margin: 0 auto;
    max-width: 80%;
    
}

img {
    max-width: 70%;
}
.line {
    margin-top: 1rem;
    width: 100%;
    height: 2px;
    background-color: black;
}

.main-title{
    font-weight: bold;
    font-size: 6rem;
    margin-bottom: 2rem;
}

.simple-title{
    font-weight: bold;
    font-size: 3rem;
    margin-bottom: 2rem;
}

.inner-content{ 
    width: 70%;
    margin: 1rem auto;
    margin-top: 3rem;
    margin-bottom: 3rem;
}

.text{
    margin-bottom: 2rem;
}

.box-container {
    border: solid black 2px;
    width: 70%;
}

.img-container{
    margin: 0 auto;
    text-align: center;
}

.form {
    margin: 2rem auto;
    text-align: center;
}

.form-title {
    font-weight: bold;
    font-size: 2rem;
    margin-top: 2rem;
    margin-bottom: 2rem;
}

.form-text {
    margin-top: 2rem;
    margin-bottom: 2rem;
    font-weight: bold;
}

.form-controls {
    margin: 2rem auto;
    width: 25%;
    display: flex;
    flex-direction: column;

}

.controls {
    margin-bottom: 2rem;
}

.e-mail {
    text-align: center;
    margin-bottom: 1rem;
}

.join {
   margin: auto;
   width: 45%;
   padding: 1rem 2rem ;
   text-transform: uppercase;
   font-weight: bold;
   border: solid black 1px;
   background-color: white;
   cursor: pointer;
}

.join:hover {
    background-color: black;
    color: white;
}

.mini-line {
    width: 100%;
    background-color: black;
    height: 1.5px;
    margin-bottom: 1rem;
}