*{
	margin: 0;
	padding: 0;
	text-decoration: none;
	border: none;
	outline: none;
}

img {
    width: 80%;
}



.main-content {
    margin: 0 auto;
    max-width: 80%;
}

.banner {
    background-image: url(../img/banner.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    margin: 0 auto;
    width: 100%;
    height: 50vh;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 2rem;
}

.title-banner {
  font-weight: bold;
  color: white;
  text-transform: uppercase;
  font-size: 2.5rem;
}

.title-content {
    font-size: 3rem;
    font-weight: bold;
    margin-bottom: 2rem;
    text-align: center;
}

.subtitle-content {
    font-size: 2rem;
    font-weight: bold;
    margin-bottom: 1rem;
}

.aux-content {
    margin: auto;
   
}
.inner-content {
   display: grid;
   grid-template-columns: 1fr 1fr;
   grid-column-gap: 1.5rem;
   align-items: center;
  
}

.list-content {
    font-weight: bold;
}

.image-content {
    padding: 2rem;
    width: 60%;
}

.item-list {
    font-size: 1.5rem;
    margin-bottom: 1rem;
}

.head-item {
    font-weight: bold;
}

.content-table{
    width: 100%;
    margin: auto;
    margin-bottom: 3rem;
}

table {
 width: 100%;
}

td {
    padding: 1.5rem;
    font-size: 1.2rem;
}

