<div id="shopify-section-[id]" class="shopify-section">
    <div class="page-width">
        
        {% if section.settings.section_title != blank %}
        <div class="section-header text-center">
            <h2>{{ section.settings.section_title | escape }}</h2>
        </div>
        {% endif %}
        
        <div class="grid grid--uniform grid--flush-bottom">
            
            {% for block in section.blocks %}
            <div class="grid__item medium-up--one-third text-left">
                
                <img src="{{ block.settings.image_card | img_url: '750x' }}">
                <h4>{{ block.settings.title_card }}</h4>
                <div class="text-content">
                    {{ block.settings.content_card }}
                </div>
                
            </div>
            {% endfor %}
            
        </div>
        
    </div>
</div>



{% schema %}
{
    "name": "Tarjetas del home",
    "max_blocks": 12,
    "settings": [
        {
        "type": "text",
        "id": "section_title",
        "label": "Titulo de la sección",
        "default": "Información importante"
        }
    ],
    "blocks": [
        {
        "type" : "text_block",
        "name" : "Tarjetas",
        "settings" : [
            {
                "type":"image_picker",
                "id": "image_card",
                "label": "Imagen de la tarjeta"
            },
            {
                "type":"text",
                "id": "title_card",
                "label": "Titulo de la tarjeta"
            },
            {
                "type":"richtext",
                "id": "content_card",
                "label": "Texto de la tarjeta"
            }
        ]}
    ],	
    "presets": [
        {
        "name": "Tarjetas de contenido",
        "category": "Custom content",
        "blocks": [
            {
                "type": "text_block"
            },
            {
                "type": "text_block"
            },
            {
                "type": "text_block"
            }
        ]
    }
  ]
}
{% endschema %}