
.img-description {
	width: 270px  !important;
	height: 330px  !important;
	margin: 1rem  !important;
	}
	
	/* aqui comienza el acordeon*/
	#container-main h1{
		font-size: 40px;
		text-shadow:4px 4px 5px #16a085;
	}
	
	.accordion-container {
		width: 100%;
		margin: 0 0 20px;
		clear:both;
	}
	
	.accordion-titulo {
		position: relative;
		display: block;
		
	}
	.accordion-titulo.open {
		
	}
	

	span.toggle-icon-plus:before {
		content:"+";
	}

	span.toggle-icon-less:before {
		content:"-";
	}
	
	.accordion-titulo span.toggle-icon:before {
		content:"+";
	}
	
	.accordion-titulo.open span.toggle-icon:before {
		content:"-";
	}
	
	.accordion-titulo span.toggle-icon {
		position: absolute;
		right: 20px;
		
	}
	
	.accordion-content {
		display: none;
		padding: 20px;
		overflow: auto;
	}
	
	.accordion-content p{
		margin:0;
	}
	
	.accordion-content img {
		display: block;
		float: left;
		margin: 0 15px 10px 0;
		width: 50%;
		height: auto;
	}
	
	
	@media (max-width: 767px) {
		.accordion-content {
			padding: 10px 0;
		}
	}
	
	.jacidi-collection-title {
		text-transform: uppercase;
		font-weight: bold;
		text-align: center;
	}
	
	.jacidi-fixed-hero{
		height: 80vh;
		margin-bottom: 0.5rem;
	}
	
	@media only screen and (max-width: 749px)  {
		.jacidi-fixed-hero {
			margin-top: -2rem;
			height: 90vh;
		}
		
	}
	
	.jacidi-none{
		display: none;
	}
	
	
	.jacidi-image-ok{
		
	}
	
	@media only screen and (min-width: 749px)  {
		.jacidi-image_responsive {
			display: none !important;
		}
		
	}
	
	.jacidi-cash{
		width: 38px; 
		margin-top: 5px;
	}
	
	.jacidi-collection-width-fix{
		max-width: unset;
	}
	
	@media only screen and (min-width: 749px)  {
		.jacidi-collection-width-fix{
			font-size: 1.2rem;
		}
		
	}
	
	.jacidi-grid-blog {
		display: grid;
		grid-template-columns: 1fr 1fr;
	}
	
	.jacidi-height-card-blog {
		height: 20 vh !important;
	}
	
	.article__list-image:hover {
		border: solid 10px black;
	}
	
	.btn-blog-jacidi {
		color: white !important;
	}
	.button_left{
	border:none;
	border-radius: 100%;
	overflow:hidden;
	float: left;
	scale:1.8;
	position: relative;
	top: 6.5rem;
	left: -0.5rem;
	background-color: #f3efeb;}
	.button_right{
	border:none;
	border-radius: 100%;
	overflow: hidden;
	float:right;
	scale:1.8;
	position: relative;
	right: -3.5rem;
	top: -13.8rem;
	background-color: #f3efeb;}
	.rotate{
	display: flex;
	flex-direction:row;
	flex-wrap: nowrap;
	position:relative;
	transition: right 0.8s ease-out;
	}
	.cont{
	flex:none}
	.title_grid_product{
		text-align: center;
		position: relative;
		top: 60px;
	}
	.social-header{
		padding-left: 1rem;
		border-left: solid 1px gray;
		margin-left: 1rem;
	}

	.social-header-list{
		display: grid;
		grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
		
	}