{% comment %}
  The contents of the lists-collections.liquid template can be found in /sections/lists-collections-template.liquid
  {% section 'collection-list-img' %}
  {% endcomment %}
  

{% section 'list-collections-template' %}
